@model DisplayTitlesViewModel;
@{
    ViewData["Title"] = "All Coures";
    int Current = Model.CurrentPage;
}
<style>
    .card-img-top {
        width: 22rem;
        height: 12rem;
    }

    .card {
        border: 1px solid #ddd;
        text-align: center;
    }
</style>

<section>
    <div class="roles" style="height:54rem;">
        <form method="get" asp-controller="Course" asp-action="Coures">
            <div class="row" style="display: flex;justify-content: center;margin-bottom: 1rem;">
                <div class="col-md-6">
                    <div class="form-group ">
                        <input type="text" class="form-control w-100" placeholder="Course Name" name="Search" value="@(String.IsNullOrEmpty(Model.SearchBy)?"":Model.SearchBy)">

                    </div>
                    <div class="form-group " hidden>
                        <input type="text" class="form-control w-100" name="userName" value="@User.Identity.Name">
                    </div>

                </div>
                <div class="col-md-2 mx-auto">
                    <div class="input-group-append">
                        <button class="btn btn-primary" style="background-color: #006df0;outline:none" type="submit">Search</button>
                        <a class="btn btn-primary" style="background-color: #006df0;outline:none">Add</a>
             
                </div>
                </div>
              
            </div>
        </form>
        @if (Model.IsCompleted)
        {
            <div class="row">
                @for (int i = 0; i < Model.Titles.Count(); i++)
                {
                    <div class="col-md-4 col-sm-6 col-xs-12  borderCard" style="margin-bottom: 24px; cursor:pointer">
                        <div class="card">
                            <img src="~/Images/Title/@(Model.Titles[i].Logo)" class="card-img-top img-fluid img-thumbnail" alt="Title Image">
                            <div class="card-body" style="padding: 12px;">
                                <h5 class="card-title">@Model.Titles[i].Name</h5>
                                <p class="card-text">@Model.Titles[i].Price $</p>
                                <a title="View Videos" asp-controller="Course" asp-action="GetVideosForTitle" asp-route-Id="@Model.Titles[i].Id" class="btn btn-primary" style="background-color: #006df0;"><i class="bi bi-eye-fill"></i></a>
                                <a title="Update Title" asp-controller="Course" asp-action="UpdateTitle" asp-route-Id="@Model.Titles[i].Id" class="btn btn-primary" style="background-color: #006df0;"><i class="bi bi-pencil-square"></i></a>
                                <a title="Remove Title" asp-controller="Course" asp-action="DeleteTitle" asp-route-Id="@Model.Titles[i].Id" asp-route-username="@User.Identity.Name" class="btn btn-primary" style="background-color: #006df0;"><i class='bi bi-trash3-fill'></i></a>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="row" style="display: flex;justify-content: center;">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <nav aria-label="..." style="display:flex;justify-content: center;">
                        <ul class="pagination" id="pag" style="font-size: 1.1rem;">
                            <li class="page-item @(Model.CurrentPage<=1?"disabled":"")">
                                <a class="page-link"
                                   asp-controller="Course"
                                   asp-action="Coures"
                                   asp-route-userName="@User.Identity.Name"
                                   asp-route-Search="@Model.SearchBy"
                                   asp-route-orderby="@Model.Orderby"
                                   asp-route-currentPage="@(Model.CurrentPage-1)">Previous</a>
                            </li>

                            @if (Current == 1)
                            {
                                if (Current == Model.TotalPages)
                                {
                                    for (int i = Current; i <= Model.TotalPages; i++)
                                    {
                                        <li class="page-item @(i==1?"active":"")">
                                            <a class="page-link"
                                               asp-controller="Course"
                                               asp-action="Coures"
                                               asp-route-userName="@User.Identity.Name"
                                               asp-route-Search="@Model.SearchBy"
                                               asp-route-orderby="@Model.Orderby"
                                               asp-route-currentPage="@i">@i</a>
                                        </li>
                                    }
                                }
                                else if (Model.TotalPages < 3)
                                {
                                    for (int i = Current; i < Current + 2; i++)
                                    {
                                        <li class="page-item @(i==1?"active":"")">
                                            <a class="page-link"
                                               asp-controller="Course"
                                               asp-action="Coures"
                                               asp-route-userName="@User.Identity.Name"
                                               asp-route-Search="@Model.SearchBy"
                                               asp-route-orderby="@Model.Orderby"
                                               asp-route-currentPage="@i">@i</a>
                                        </li>
                                    }

                                }
                                else
                                {
                                    for (int i = Current; i <= Current + 2; i++)
                                    {
                                        <li class="page-item @(i==1?"active":"")">
                                            <a class="page-link"
                                               asp-controller="Course"
                                               asp-action="Coures"
                                               asp-route-userName="@User.Identity.Name"
                                               asp-route-Search="@Model.SearchBy"
                                               asp-route-orderby="@Model.Orderby"
                                               asp-route-currentPage="@i">@i</a>
                                        </li>
                                    }
                                }
                            }
                            else if (Model.TotalPages < 3)
                            {
                                for (int i = Current - 1; i <= Current; i++)
                                {
                                    <li class="page-item @(Model.CurrentPage==i?"active":"")">
                                        <a class="page-link"
                                           asp-controller="Course"
                                           asp-action="Coures"
                                           asp-route-userName="@User.Identity.Name"
                                           asp-route-Search="@Model.SearchBy"
                                           asp-route-orderby="@Model.Orderby"
                                           asp-route-currentPage="@i">@i</a>
                                    </li>
                                }
                            }
                            else if (Model.TotalPages >= 3)
                            {
                                if (Current == Model.TotalPages)
                                {
                                    <li class="page-item @(Model.CurrentPage==Current-2?"active":"")">
                                        <a class="page-link"
                                           asp-controller="Course"
                                           asp-action="Coures"
                                           asp-route-userName="@User.Identity.Name"
                                           asp-route-Search="@Model.SearchBy"
                                           asp-route-orderby="@Model.Orderby"
                                           asp-route-currentPage="@(Current-2)">
                                            @(
                                                Current - 2
                                                )
                                        </a>
                                    </li>

                                    <li class="page-item @(Model.CurrentPage==Current-1?"active":"")">
                                        <a class="page-link"
                                           asp-controller="Course"
                                           asp-action="Coures"
                                           asp-route-userName="@User.Identity.Name"
                                           asp-route-Search="@Model.SearchBy"
                                           asp-route-orderby="@Model.Orderby"
                                           asp-route-currentPage="@(Current-1)">
                                            @(
                                                Current - 1
                                                )
                                        </a>
                                    </li>
                                    <li class="page-item @(Model.CurrentPage==Current?"active":"")">
                                        <a class="page-link"
                                           asp-controller="Course"
                                           asp-action="Coures"
                                           asp-route-userName="@User.Identity.Name"
                                           asp-route-Search="@Model.SearchBy"
                                           asp-route-orderby="@Model.Orderby"
                                           asp-route-currentPage="@(Current)">
                                            @(
                                                Current
                                                )
                                        </a>
                                    </li>

                                }
                                else
                                {
                                    <li class="page-item @(Model.CurrentPage==Current-1?"active":"")">
                                        <a class="page-link"
                                           asp-controller="Course"
                                           asp-action="Coures"
                                           asp-route-userName="@User.Identity.Name"
                                           asp-route-Search="@Model.SearchBy"
                                           asp-route-orderby="@Model.Orderby"
                                           asp-route-currentPage="@(Current-1)">
                                            @(
                                                Current - 1
                                                )
                                        </a>
                                    </li>

                                    <li class="page-item @(Model.CurrentPage==Current?"active":"")">
                                        <a class="page-link"
                                           asp-controller="Course"
                                           asp-action="Coures"
                                           asp-route-userName="@User.Identity.Name"
                                           asp-route-Search="@Model.SearchBy"
                                           asp-route-orderby="@Model.Orderby"
                                           asp-route-currentPage="@Current">@Current</a>
                                    </li>
                                    <li class="page-item @(Model.CurrentPage==Current+1?"active":"")">
                                        <a class="page-link"
                                           asp-controller="Course"
                                           asp-action="Coures"
                                           asp-route-userName="@User.Identity.Name"
                                           asp-route-Search="@Model.SearchBy"
                                           asp-route-orderby="@Model.Orderby"
                                           asp-route-currentPage="@(Current+1)">
                                            @(
                                                Current + 1
                                                )
                                        </a>
                                    </li>
                                }
                            }
                            <li class="page-item @(Model.CurrentPage==Model.TotalPages ? "disabled" : "")">
                                <a class="page-link"
                                   asp-controller="Course"
                                   asp-action="Coures"
                                   asp-route-userName="@User.Identity.Name"
                                   asp-route-Search="@Model.SearchBy"
                                   asp-route-orderby="@Model.Orderby"
                                   asp-route-currentPage="@(Model.CurrentPage+1)">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        }
        else
        {
            <div style=" width: 50%;height: 50%;display: flex;justify-content: center;margin: auto;">
                <img src="~/Images/Title/NotFound.svg" alt="NotFound" class="img-fluid" style="width: 50%;" />
            </div>
        }


    </div>
</section>
@section Scripts{
    <script>

    </script>
}
