@model DisplayTitlesViewModel;
@{
    ViewData["Title"] = "All Coures";
}
<style>
    .card-img-top {
        width: 22rem;
        height: 12rem;
    }

    .card {
        border: 1px solid #ddd;
        text-align: center;
    }
</style>

<section>

    @if (Model.IsCompleted)
    {
        <div class="roles" style="height:50rem;">

            @for (int i = 0; i < Model.Titles.Count(); i++)
            {
                <div class="col-md-4 col-sm-6 col-xs-12  borderCard" style="margin-bottom: 24px;">
                    <div class="card">
                        <img src="~/Images/Title/@(Model.Titles[i].Logo)" class="card-img-top img-fluid img-thumbnail" alt="Title Image">
                        <div class="card-body" style="padding: 12px;">
                            <h5 class="card-title">@Model.Titles[i].Name</h5>
                            <p class="card-text">@Model.Titles[i].Price $</p>
                            <a href="#" class="btn btn-primary" style="background-color: #006df0;"><i class="bi bi-eye-fill"></i></a>
                            <a href="#" class="btn btn-primary" style="background-color: #006df0;"><i class="bi bi-pencil-square"></i></a>
                        </div>
                    </div>
                </div>
            }
            <br/>
            <div class="row" style="display: flex;justify-content: center;">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <nav aria-label="..." style="display:flex;justify-content: center;">
                        <ul class="pagination" style="font-size: 1.1rem;">
                            <li class="page-item disabled">
                                <a class="page-link">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" asp-controller="Course" asp-action="Coures" 
                                asp-route-userName="@User.Identity.Name" asp-route-Search="" asp-route-orderby="" asp-route-currentPage ="1" >1</a></li>
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" asp-controller="Course" asp-action="Coures"
                                   asp-route-userName="@User.Identity.Name" asp-route-Search="" asp-route-orderby="" asp-route-currentPage="2">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" asp-controller="Course" asp-action="Coures"
                                   asp-route-userName="@User.Identity.Name" asp-route-Search="" asp-route-orderby="" asp-route-currentPage="3">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    }
</section>

