@model DisplayTitlesViewModel;
@{
    ViewData["Title"] = "All Coures";
    int Current = Model.CurrentPage;
}
<style>
    .card-img-top {
        width: 22rem;
        height: 12rem;
    }

    .card {
        border: 1px solid #ddd;
        text-align: center;
    }
</style>

<section>

    @if (Model.IsCompleted)
    {
        <div class="roles" style="height:50rem;">
            <div class="row">

            @for (int i = 0; i < Model.Titles.Count(); i++)
            {
                <div class="col-md-4 col-sm-6 col-xs-12  borderCard" style="margin-bottom: 24px;">
                    <div class="card">
                        <img src="~/Images/Title/@(Model.Titles[i].Logo)" class="card-img-top img-fluid img-thumbnail" alt="Title Image">
                        <div class="card-body" style="padding: 12px;">
                            <h5 class="card-title">@Model.Titles[i].Name</h5>
                            <p class="card-text">@Model.Titles[i].Price $</p>
                            <a href="#" class="btn btn-primary" style="background-color: #006df0;"><i class="bi bi-eye-fill"></i></a>
                            <a href="#" class="btn btn-primary" style="background-color: #006df0;"><i class="bi bi-pencil-square"></i></a>
                        </div>
                    </div>
                </div>
                }
            </div>
      
            <div class="row" style="display: flex;justify-content: center;">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <nav aria-label="..." style="display:flex;justify-content: center;">
                        <ul class="pagination" style="font-size: 1.1rem;">
                            <li class="page-item @(Model.CurrentPage<=1?"disabled":"")">
                                <a class="page-link">Previous</a>
                            </li>
                            
                            @if (Current == 1)
                            {
                                for(int i = Current; i <= Current + 2; i++)
                                {
                                    <li class="page-item">
                                        <a class="page-link" 
                                          asp-controller="Course"
                                          asp-action="Coures"
                                           asp-route-userName="@User.Identity.Name"
                                           asp-route-Search=""
                                           asp-route-orderby=""
                                           asp-route-currentPage="@i">@i</a>
                                    </li>
                                }
                            }else if (Current == Model.TotalPages)
                            {
                                for(int i = Current - 2; i <= Current; i++)
                                {
                                    <li class="page-item">
                                        <a class="page-link"
                                           asp-controller="Course"
                                           asp-action="Coures"
                                           asp-route-userName="@User.Identity.Name"
                                           asp-route-Search=""
                                           asp-route-orderby=""
                                           asp-route-currentPage="@i">@i</a>
                                    </li>
                                }
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link"
                                       asp-controller="Course"
                                       asp-action="Coures"
                                       asp-route-userName="@User.Identity.Name"
                                       asp-route-Search=""
                                       asp-route-orderby=""
                                       asp-route-currentPage="@(Current-1)">@(Current-1)</a>
                                </li>
                                
                                    <li class="page-item">
                                        <a class="page-link"
                                           asp-controller="Course"
                                           asp-action="Coures"
                                           asp-route-userName="@User.Identity.Name"
                                           asp-route-Search=""
                                           asp-route-orderby=""
                                       asp-route-currentPage="@Current">@Current</a>
                                    </li>
                                <li class="page-item">
                                    <a class="page-link"
                                       asp-controller="Course"
                                       asp-action="Coures"
                                       asp-route-userName="@User.Identity.Name"
                                       asp-route-Search=""
                                       asp-route-orderby=""
                                       asp-route-currentPage="@(Current+1)">@(Current+1)</a>
                                </li>
                            
                            }
                            <li class="page-item @(Model.CurrentPage==Model.TotalPages ? "disabled" : "")">
                                <a class="page-link ">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    }
</section>

