@model DisplayAllVideos;
@{
    ViewData["Title"] = "Course ";
}
<!--Style-->
<style>
    * {
        box-sizing: border-box;
    }

    .box {
        background: #fff;
        margin-top: 4rem;
        margin-left: 10px;
        padding: 14px;
        /*height: 20rem;*/
    }

    .boxHeadlineSub {
        text-align: center;
        margin-top: 4%;
        height: 27%;
        width: 100%;
        line-height: 17px;
    }
</style>
<div style="
    display: flex;
    justify-content: center;
    margin-top: 14px;
">
    <div style="flex-basis:20%">
        <a class="btn btn-primary" style="background-color: #006df0;width: 100%;" href="/Course/Create">Add Video</a>
    </div>
</div>
<div class="row mt-4">
    @if (Model.IsCompleted)
    {

        <div class="col-md-offset-2">
            <div class="row">
                @foreach (var video in Model.Courses)
                {
                    <div class="col-lg-3 col-md-3 box col-sm-6">
                        <video class="video-fluid" controls autoplay loop muted style="width:100%">
                            <source src="~/~/UI/images/Videos/@video.Logo" type="video/mp4">
                        </video>
                        <div class="boxHeadlineSub">
                            <p>@video.Name</p>
                            <p>@video.Description</p>
                        </div>
                        <div style="display: flex;justify-content: space-evenly;">
                            <a asp-controller="Course" asp-action="DeleteVideo" asp-route-Id="@video.Id" asp-route-TitleId="@video.TitleId" title="View Videos" class="btn btn-primary" style="background-color: #006df0;font-size:10px"><i class='bi bi-trash3-fill'></i></a>
                            <a asp-controller="Course" asp-action="UpdateVideoById" asp-route-Id="@video.Id" asp-route-TitleId="@video.TitleId" title="Update Title" class="btn btn-primary" style="background-color: #006df0;font-size:10px"><i class="bi bi-pencil-square"></i></a>
                        </div>

                    </div>

                }
            </div>
        </div>

    }
    else
    {
        <div style=" width: 50%;height: 50%;display: flex;justify-content: center;margin:15% auto;">
            <img src="~/~/UI/images/Videos/NoVideo.svg" alt="NotFound" class="img-fluid" style="width: 50%;" />
            @*<p class="lead">No Videos</p>*@
        </div>
    }
</div>
