@model IndexViewModel;
@{
	ViewData["Title"] = "Home";
}
<style>
	.card-img-top {
		width:100%;
		height: 12rem;
	}
</style>
	<ul id="demo1">
		<li>
			<img src="~/UI/images/789.jpg" alt="" />
			<!--Slider Description example-->
			<div class="slide-desc">
				<h3>Buy Rice Courses Are Now On Line With Us</h3>
			</div>
		</li>
		

		<li>
			<img src="~/UI/images/output-onlinepngtools.png" alt="" />
			<div class="slide-desc">
				<h3>Whole Courses Are Now On Line With Us</h3>
			</div>
		</li>
	</ul>
	<!-- //main-slider -->
	<!-- //top-header and slider -->
	<!-- top-brands -->
	<div class="top-brands">
		<div class="container">
			<h2>Top selling </h2>
			<div class="grid_3 grid_5">
				<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					<ul id="myTab" class="nav nav-tabs" role="tablist" style="display: flex;justify-content: center;">
						<li role="presentation" class="active"><a href="#expeditions" id="expeditions-tab" role="tab" data-toggle="tab" aria-controls="expeditions" aria-expanded="true">Advertised Selling</a></li>
					@*	<li role="presentation"><a href="#tours" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours">Today Offers</a></li>*@
					</ul>
					<div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="expeditions" aria-labelledby="expeditions-tab">
							<div class="agile-tp">
								<h5>Advertised this week</h5>
								<p class="w3l-ad">We've pulled together all our advertised offers into one place, so you won't miss out on a great deal.</p>
							</div>
							<div class="agile_top_brands_grids">
							@foreach (var product in Model.Titles)
							{
								<div class="col-md-4 top_brand_left" style="margin-bottom: 2%;">
									<div class="hover14 column">
										<div class="agile_top_brand_left_grid">
											@*<div class="agile_top_brand_left_grid_pos">
												<img src="~/UI/images/offer.png" alt=" " class="img-responsive" />
											</div>*@
											<div class="agile_top_brand_left_grid1">
												<figure>
													<div class="snipcart-item block">
														<div class="snipcart-thumb">

															<a href="products.html"><img class="card-img-top" title="@product.Name" alt=" " src="~/Images/Title/@product.Logo" /></a>
															
														
															<p>@product.Name</p>
															<div class="stars">
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star gray-star" aria-hidden="true"></i>
															</div>
															<h4>$@product.Price <span>$@(product.Price+10)</span></h4>
														</div>
														<div class="snipcart-details top_brand_home_details">
															<form action="#" method="post">
																<fieldset>
																	<input type="hidden" name="cmd" value="_cart" />
																	<input type="hidden" name="add" value="1" />
																	<input type="hidden" name="business" value=" " />
																	<input type="hidden" name="item_name" value="@product.Name" />
																	<input type="hidden" name="amount" value="@product.Price" />
																	<input type="hidden" name="discount_amount" value="1.00" />
																	<input type="hidden" name="currency_code" value="USD" />
																	<input type="hidden" name="return" value=" " />
																	<input type="hidden" name="cancel_return" value=" " />
																	<input type="submit" name="submit" value="Add to cart" class="button" />
																</fieldset>
															</form>
														</div>
													</div>
												</figure>
											</div>
										</div>
									</div>
								</div>
							}
								<div class="clearfix"> </div>
							</div>
						</div>
					
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //top-brands -->
	<!-- Carousel
	   ================================================== -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<a href="beverages.html"><img class="first-slide" src="~/UI/images/imges22.png" alt="First slide" style="margin:auto"></a>

			</div>
			<div class="item">
			<a href="personalcare.html"> <img class="second-slide " src="~/UI/images/Slider1.png" style="margin:auto" alt="Second slide"></a>

			</div>
			<div class="item">
			<a href="household.html"><img class="third-slide " src="~/UI/images/Images23.png" style="margin:auto" alt="Third slide"></a>

			</div>
		</div>

	</div><!-- /.carousel -->
	
	<!--brands-->
	<div class="brands">
		<div class="container">
			<h3>Our Instructors</h3>
			<div class="brands-agile">
			@foreach (var Inst in Model.profileUser)
			{
				<div class="col-md-4 top_brand_left" style="margin-bottom: 2%;">
					<div class="hover14 column">
						<div class="agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">

											<a href="products.html"><img class="card-img-top" title="@Inst.Name" alt=" " src="~/Images/Profile/@((String.IsNullOrEmpty(Inst.img))?"Profile.png":Inst.img)" /></a>


											<p>@Inst.Name</p>
											<div class="stars">
												<a href="@Inst.Facebook"><i class="bi bi-facebook"></i></a>
												<a href="@Inst.Twitter"><i class="bi bi-twitter"></i></a>
												<a href="@Inst.LinkedIn"><i class="bi bi-linkedin"></i></a>
												<a href="@Inst.Instagram"><i class="bi bi-instagram"></i></a>
												
											</div>
										</div>
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
	</div>
	<!--//brands-->
	<!-- new -->
	<div class="newproducts-w3agile">
		<div class="container">
			<h3>New offers</h3>
			<div class="agile_top_brands_grids">
			@foreach (var product in Model.Titles)
			{
				<div class="col-md-3 top_brand_left-1" style="margin-bottom: 2%;">
					<div class="hover14 column">
						<div class="agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid_pos">
						<img src="~/UI/images/offer.png" alt=" " class="img-responsive" />
						</div>
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">

											<a href="products.html"><img class="card-img-top" title="@product.Name" alt=" " src="~/Images/Title/@product.Logo" /></a>


											<p>@product.Name</p>
											<div class="stars">
												<i class="fa fa-star blue-star" aria-hidden="true"></i>
												<i class="fa fa-star blue-star" aria-hidden="true"></i>
												<i class="fa fa-star blue-star" aria-hidden="true"></i>
												<i class="fa fa-star blue-star" aria-hidden="true"></i>
												<i class="fa fa-star gray-star" aria-hidden="true"></i>
											</div>
											<h4>$@product.Price <span>$@(product.Price + 10)</span></h4>
										</div>
										<div class="snipcart-details top_brand_home_details">
											<form action="#" method="post">
												<fieldset>
													<input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name" value="@product.Name" />
													<input type="hidden" name="amount" value="@product.Price" />
													<input type="hidden" name="discount_amount" value="1.00" />
													<input type="hidden" name="currency_code" value="USD" />
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " />
													<input type="submit" name="submit" value="Add to cart" class="button" />
												</fieldset>
											</form>
										</div>
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div>
			}
			<div class="clearfix"> </div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //new -->
	<!-- //footer -->
	<div class="footer">
		<div class="container">
			<div class="w3_footer_grids">
				<div class="col-md-3 w3_footer_grid">
					<h3>Contact</h3>

					<ul class="address">
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Ashmone,Cairo,  <span>Egypt.</span></li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+011 -212 - 37 - 611</li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>Information</h3>
					<ul class="info">
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="about.html">About Us</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a asp-area="UI" asp-controller="Auth" asp-action="ContactUs">Contact Us</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="short-codes.html">Short Codes</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="faq.html">FAQ's</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="products.html">Special Products</a></li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>Category</h3>
					<ul class="info">
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="groceries.html">Courses</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="household.html">Books</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="household.html">Our Instructor</a></li>
						
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>Profile</h3>
					<ul class="info">
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="products.html">Store</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="checkout.html">My Cart</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a asp-area="UI" asp-controller="Auth" asp-action="Login">Login</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a asp-area="UI" asp-controller="Auth" asp-action="Register">Create Account</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>


	</div>
	
