@model CheckoutViewModel;
@{
    ViewData["Title"] = "CheckOut";
    int record = 0;
}
<style>
    .card-img-top {
        width: 48% !important;
        height: 5rem !important;
    }
</style>
@if (Model.IsCompleted)
{
    <!-- checkout -->
    <div class="checkout">
        <div class="container">
            <h2>Your shopping cart contains: <span>@Model.CartViewModels.Count Products</span></h2>
            <div class="checkout-right">
                <table class="timetable_sub">
                    <thead>
                        <tr>
                            <th>SL No.</th>
                            <th>Product</th>
                            <th>Quality</th>
                            <th>Product Name</th>

                            <th>Price</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    @foreach (var cart in Model.CartViewModels)
                    {
                        <tr class="rem@(++record)">
                            <td class="invert">@record</td>
                            <td class="invert-image"><a href="single.html"><img src="@(String.IsNullOrEmpty(cart.img)?"~/Images/Title/NotFound.svg":cart.img)" alt="@cart.Name" class="card-img-top img-responsive" /></a></td>
                            <td class="invert">
                                <div class="quantity">
                                    <div class="quantity-select">
                                        <div class="entry value-minus">&nbsp;</div>
                                        <div class="entry value"><span>@cart.Quantity</span></div>
                                        <div class="entry value-plus active">&nbsp;</div>
                                    </div>
                                </div>
                            </td>
                            <td class="invert">@cart.Name</td>

                            <td class="invert">$@cart.Price</td>
                            <td class="invert">
                                <div class="rem">
                                    <div class="close@(record)" style="
                        background: url('/UI/images/close_1.png') no-repeat 0px 0px;  cursor: pointer;
                        width: 28px;
                        height: 28px;
                        position: absolute;
                        right: 15px;
                        top: -13px;
                       -webkit-transition: color 0.2s ease-in-out;
                        -moz-transition: color 0.2s ease-in-out;
                        -o-transition: color 0.2s ease-in-out;
                         transition: color 0.2s ease-in-out;">
                                    </div>
                                </div>
                                <script>
                                    $(document).ready(function (c) {

                                        $('.close@(record)').on('click', function (c) {
                                            $('.rem@(record)').fadeOut('slow', function (c) {
                                                $('.rem@(record)').remove();
                                            });
                                        });
                                    });
                                </script>
                            </td>
                        </tr>
                    }
                    <!--quantity-->
                    <script>
                        $('.value-plus').on('click', function () {
                            var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) + 1;
                            divUpd.text(newVal);
                        });

                        $('.value-minus').on('click', function () {
                            var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) - 1;
                            if (newVal >= 1) divUpd.text(newVal);
                        });
                    </script>
                    <!--quantity-->
                </table>
                <nav class="numbering">
                    <ul class="pagination paging">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="checkout-left">
                <div class="checkout-left-basket">
                    <h4>Continue to basket</h4>
                    <ul>

                        <li>Total Service Charges <i>-</i> <span>$15.00</span></li>
                        <li>Discount<i>-</i> <span>$@Model.Discount</span></li>
                        <li>Total <i>-</i> <span>$@(Model.TotalPrice+15)</span></li>
                    </ul>
                </div>
                <div class="checkout-right-basket">
                    <a href="single.html"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Continue paying</a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //checkout -->
}
else
{

}
<Partial name="_ValidationScriptsPartial" />

@section Scripts{
    <script>



    </script>
}